<form action="" method= "post">  

    <input type="text" name= "nombre" id="nombre"> 
    <input type="text" name= "comision" id="comision">   

</form>

<form action="" method= "post">
    <fieldset> <!--Permite agrupar campos-->
        <legend>Contáctanos llenando todos los campos</legend> <!--Esta etiqueta representa el titulo del formulario-->

        <div> <!--Solo se utiliza cuando no sea necesario utilizar section-->
            <label>Nombre</label>
            <input type = "text" placeholder="Tu Nombre"/> <!--La etiqueta viene con el valor text del atributo type por default -->
        </div>
        
        <div>
            <label>Teléfono</label>
            <input type = "tel" placeholder = "Tu Teléfono"/>
        </div>
     
        <div>
            <label>Email</label>
            <input type = "email" placeholder = "Tu Email"/>
        </div>
        
        <div>
            <label>Mensaje</label>
            <textarea placeholder="Escribe un mensaje"></textarea>
        </div>
        
        <div>
            <input type="submit" value="Enviar"/> <!--Es igual que "<button type ="submit">Enviar</button>""-->
        </div>
     

    </fieldset>
</form>